body{
    align-items: center;
    text-align: center;
    background-color:rgb(243, 171, 207);
    width: 50%;
    height: 50%;
}
div{
    align-self: center;
    width: 50%;
    height: 50%;
}
.footer{
    text-align: left;
}
h1{
    font-family: arial;
    text-decoration: underline;
    text-transform: capitalize;
}
.photos{
    border: solid black;
    margin: 20px auto;
}

div p{
    background-color: cornflowerblue;
}

div>h1{
    text-decoration: underline;
    
}
div a:link{
    color: red;
}
div a:visited{
    color: blue;
}
div a:hover{
    color: yellow;
}
div a:active{
    color: green;
}
div.cheese > div.double + div.single{
    background-color: indigo;
}


