body{
    align-items: center;
    text-align: center;
    background-color:rgb(243, 171, 207);
    width: 50%;
    height: 50%;
}
div{
    align-self: center;
    width: 50%;
    height: 50%;
}
.footer{
    text-align: left;
}
h1{
    font-family: arial;
    text-decoration: underline;
    text-transform: capitalize;
}
.photos{
    border: solid black;
    margin: 20px auto;
}